{{- $pc := .Site.Config.Privacy.Disqus -}}
{{- if not $pc.Disable -}}
{{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>
<script type="application/javascript">
    window.disqus_config = function () {
    {{with .Params.disqus_identifier }}this.page.identifier = '{{ . }}';{{end}}
    {{with .Params.disqus_title }}this.page.title = '{{ . }}';{{end}}
    {{with .Params.disqus_url }}this.page.url = '{{ . | html  }}';{{end}}
    };
    (function () {
        // create a new observer, with a callback defined
        let observer = new IntersectionObserver((e) => {
          // e refers to the event fired when the element
          // intersects
          if (!e || !e[0] || !e[0].isIntersecting) {
            // if the element doesn't intersect, return 
              return
          }
          // if the element intersects, insert the disqus script
          var d = document, s = d.createElement('script'); 
          s.async = true
          s.src = '//' + {{ .Site.DisqusShortname }} + '.disqus.com/embed.js'
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s)
          // we don't want to do this again if the script is already
          // inserted, so disconnect the observer
          observer.disconnect()
        });

        // start the observer on the disqus container element
        observer.observe(document.getElementById('disqus_thread'))
    })();
</script> 
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>{{end}}
{{- end -}}