{{ $name := .Get "name" }}
{{ $github := .Get "github" }}
{{ $itch := .Get "itch" }}
{{ $website := .Get "website" }}
{{ $otherLink := .Get "otherLink" }}
{{ $otherText := .Get "otherText" }}

{{ $githublink := .Get "githublink" }}
{{ $itchlink := .Get "itchlink" }}
{{ $websitelink := .Get "websitelink" }}

{{- if $name }}
{{ $github = $name }}
{{ $itch = $name }}
{{ $website = $name }}
{{- end }}

{{- if not $githublink }}
{{- if $github }}
{{ $githubUrl := "https://github.com/ThomasProg/" }}
{{ $githublink = printf "%s" $github | printf "%s%s" $githubUrl | printf "%s" }}
{{- end }}
{{- end }}

{{- if not $itchlink }}
{{- if $itch }}
{{ $itchUrl := "https://progz.itch.io/" }}
{{ $itchlink = printf "%s" $itch | printf "%s%s" $itchUrl | printf "%s" }}
{{- end }}
{{- end }}

{{- if not $websitelink }}
{{- if $website }}
{{ $websiteUrl := "https://thomasprog.github.io/projects/" }}
{{ $websitelink = printf "%s" $website | printf "%s%s" $websiteUrl | printf "%s" }}
{{- end }}
{{- end }}


<div style="display: inline-block;margin: 15px; border-width: 1px;color:#fffcf2;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;border-color: #ccc5b9">
    <div style="margin: 15px;">
        {{- if $itchlink }}
        <a href="{{ $itchlink }}" class="button", style="line-height: 33px;min-width: 100px;">Play</a>
        {{- end }}
        {{- if $githublink }}
        <a href="{{ $githublink }}" class="button", style="line-height: 33px;min-width: 100px;">Code</a>
        {{- end }}
        {{- if $websitelink }}
        <a href="{{ $websitelink }}" class="button", style="line-height: 33px;min-width: 100px;">Article</a>
        {{- end }}
        {{- if $otherLink }}
        <a href="{{ $otherLink }}" class="button", style="line-height: 33px;min-width: 100px;">{{ $otherText }}</a>
        {{- end }}
    </div>
</div>